.App {
  text-align: center;
  font-family: serif;
}

.Markdown {
  text-align: left;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: rgb(195, 239, 250);
}

.home {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}